<h1>Welcome Admin</h1>

<a href="/Admin/AdminMensRanking">Men Ranking</a>
<br />
<a href="/Admin/AdminWomensRanking">Women Ranking</a>
<br />
<a href="/Admin/AdminMensScores">Men Scores</a>
<br />
<a href="/Admin/AdminWomensScores">Women Scores</a>
<br />
<a href="/Admin/AdminAddUser">Users</a>
<br />

<a href="/Auth/Login">Logout</a>ers</a>